<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>

</head>
<body>

    <nav>
        <a href="blogs.html">Blogs</a>
        <a href="about.html">About</a>
        <a href="create_new_blog.html">Create New Blog</a>
    </nav>
    
<!-- Main Content -->
<div class="error page content"> 
    <p>OOPS, sorry!n Page not found  </p>
</div>

</body>
</html>