
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>

</head>
<body>
    <nav>
        <a href="/blogs">Blogs</a>
        <a href="/about">About</a>
        <a href="/create_new_blog">Create New Blog</a>
    </nav>

<!-- Main Content -->
<div class="my blog page content">
    <p>HELLO IM INDEX PAGEEEE Nulla facilisi. Integer in dui cursus, dapibus felis non, venenatis velit. Sed fermentum turpis a facilisis molestie. Nullam auctor arcu at nulla eleifend, nec sodales orci tincidunt. Nullam lobortis eros in turpis fringilla, nec dictum libero interdum. Vestibulum non quam id purus auctor rutrum. Aliquam ac pharetra tortor, eu ultricies dolor. In hac habitasse platea dictumst. Duis sit amet ligula a felis iaculis viverra id id turpis. Vivamus fringilla lacus nec magna vehicula, vitae lobortis mauris egestas. Morbi gravida convallis justo id ultricies. Phasellus vel congue ante. Integer a neque at ipsum placerat suscipit. Ut lacinia libero ut lorem consectetur, ut posuere tortor faucibus. Fusce et viverra ligula.</p>

    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer sed magna sollicitudin, tincidunt nisi vel, feugiat turpis. Fusce imperdiet, nunc a suscipit euismod, dolor elit tempor magna, et sollicitudin justo nisl ac est. Aenean finibus, sapien vitae lacinia viverra, mi velit commodo eros, id dignissim orci libero non ante. Ut elementum nisi id sapien elementum, id lobortis leo sagittis. Mauris et est id turpis sodales tempor. Integer pharetra auctor erat, nec molestie dui consequat et. Suspendisse vehicula eget velit sit amet vestibulum.</p>

    <p>Nam eget mauris vehicula, tempor eros sed, luctus elit. Nam pulvinar bibendum libero nec feugiat. In varius commodo massa, nec placerat nisi tincidunt vitae. Vestibulum vehicula nulla non magna accumsan, nec egestas arcu fringilla. Pellentesque quis lacinia nulla. Sed ultricies, lectus in scelerisque tempor, lacus lectus sollicitudin est, a fermentum turpis mauris non ante. Suspendisse a nisi tellus. Phasellus feugiat libero sed est fermentum, non accumsan elit feugiat. Donec ultrices sit amet purus in consectetur. Integer interdum diam vel dapibus vestibulum. Aliquam erat volutpat.</p>
</div>

</body>
</html>
